
@model Payment


@{
    ViewData["Title"] = "PaymentDetails";

    Layout = "_DashbordLayout";
}





<style>


    .card {
        width: 30%;
    }


    .card-text {
        color: darkgray;
    }
</style>





<div class="card  m-auto w-75   mt-5  ">
    <div class="card-body d-flex justify-content-center  row ">
        @* <h5 class="card-title text-secondary  text-center  fs-3">Details of Course Number <span> @Model.Id</span></h5> <br /> *@
        <div class="card-text col-6 mt-4">ID   <input class="form-check fs-3 form-control" readonly value="  @Model.DoctorId" /></div> <br />
        <div class="card-text col-6 mt-4">Degree  <input class="form-check fs-3 form-control" readonly value="  @Model.PatientId" />  </div>  <br />
        <div class="card-text col-6 mt-4">MinDegree  <input class="form-check fs-3 form-control" readonly value="  @Model.Appointment" /></div>  <br />
        <div class="card-text col-6 mt-4">Hours   <input class="form-check fs-3 form-control" readonly value="  @Model.AppointmentId" />  </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.Amount" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.PaymentMethod" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.PaymentStatus" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.TransactionId" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.PaymentDate" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.DueDate" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.PaidDate'" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.RefundAmount" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.RefundDate" />    </div>  <br />
        <div class="card-text col-6 mt-4"> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.Notes" />    </div>  <br />
        <div class="card-text col-6 mt-4 "> DepartmentName   <input class="form-check fs-3 form-control" readonly value="  @Model.CreatedAt'" />    </div>  <br />
        <div class="d-flex justify-content-center mt-4 col-12">
            <a asp-action="index" class="btn btn-outline-secondary p-2 fs-3   text-center">Back To All Courses</a>
        </div>
    </div>
</div>






<div class="card container mt-5">
    <div class="card-body">
        <p><strong>DoctorId:</strong>  @Model.DoctorId" </p>
        <p>
            <strong>PatientId :</strong>@Model.PatientId"
        </p>

        <p><strong>Appointment:</strong>  @Model.Appointment"</p>
        <p><strong>Amount:</strong> @Model.Amount"</p>
        <p><strong>PaymentMethod:</strong> @Model.PaymentMethod"</p>
        <p><strong>PaymentStatus:</strong>  @Model.PaymentStatus"</p>
        <p><strong>TransactionId:</strong> @Model.TransactionId"</p>
        <p><strong>PaymentDate:</strong>@Model.PaymentDate"</p>
        <p><strong>DueDate:</strong>@Model.DueDate"</p>
        <p><strong>PaidDate:</strong> @Model.PaidDate"</p>
        <p><strong>RefundAmount:</strong> @Model.RefundAmount"</p>
        <p><strong>RefundDate:</strong> @Model.RefundDate"</p>
        <p><strong>Notes:</strong> @Model.Notes"</p>
        <p><strong>Created At:</strong>@Model.CreatedAt"</p>


        @* <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit</a> *@
        <a asp-action="Index" class="btn btn-secondary">Back</a>
    </div>
</div>