@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Landed by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload landing">
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header">
            <h1 id="logo"><a href="@Url.Action("Index", "Home")">Clinic System</a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Doctors")">Doctors</a></li>
                    <li><a href="@Url.Action("Index", "Patients")">Patients</a></li>
                    <li><a href="@Url.Action("Index", "Appointments")">Appointments</a></li>
                    <li><a href="@Url.Action("Index", "Payments")">Payments</a></li>
                    <li><a href="@Url.Action("Index", "Prescriptions")">Prescriptions</a></li>
                    <li><a href="@Url.Action("Login", "Auth")" class="button primary">Login</a></li>
                </ul>
            </nav>
        </header>

        <!-- Main content placeholder -->
        @RenderBody()

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
                <li>&copy; Clinic Management System. All rights reserved.</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.dropotron.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
